@import "./scrollbar.css";
@import "./gradients.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-screen bg-gradient-to-tr from-[#f8f1e9] to-[#f8f1e9] font-medium 
    font-['Montserrat'] selection:bg-emerald-300;
  }
  /* from-[#8ca3f5] to-[#3d4353] */
  h1 {
    @apply text-4xl font-semibold;
  }
  h2 {
    @apply text-3xl font-semibold;
  }

  .center {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}

.loading-line {
  animation: lineAnimation 2.5s linear infinite; /* Adjust duration as needed */
}

.animation-delay {
  animation-delay: 200ms;
}

@keyframes lineAnimation {
  0% {
    width: 0;
    right: 100%;
  }
  33% {
    width: 15%;
    right: 60%;
  }
  66% {
    width: 2%;
  }
  66% {
    width: 15%;
  }
  100% {
    width: 0%;
    right: 0;
  }
}

.moving-bg {
  animation-name: MOVE-BG;
  animation-duration: 100s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes MOVE-BG {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(+187%);
  }
}

* {
  margin: 0;
  padding: 0;
}

.cards-container {
  perspective: 20px;
}

.swiper-slide {
  transform: rotateZ("30deg");
}

.swiper-slide img {
}

.prespective {
  perspective: 500px;
}

.swiper {
  overflow: visible;
  padding: 8px;
}

.rotateY {
  rotate: y 4deg;
}
.rotateYreverse {
  rotate: y -4deg;
}
