@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-screen bg-gradient-to-tr from-sky-50 to-blue-200 font-medium;
  }

  h1 {
    @apply text-4xl font-semibold;
  }
  h2 {
    @apply text-3xl font-semibold;
  }

  .center {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}

.moving-bg {
  animation-name: MOVE-BG;
  animation-duration: 100s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes MOVE-BG {
  from {
    transform: translateX(0);
  }
  to { 
    transform: translateX(+187%);
  }
}

* {
  margin: 0;
  padding: 0;
}
