.azur {
  background: #7f7fd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.delicate {
  background: #d3cce3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.space {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.elegant {
  background: linear-gradient(
    9deg,
    rgb(140, 163, 245) 0%,
    rgb(61, 67, 83) 100%
  );
}

.frame {
  background: rgb(235, 248, 205);
  background: linear-gradient(
    54deg,
    rgba(235, 248, 205, 1) 0%,
    rgba(212, 200, 190, 1) 19%,
    rgba(242, 251, 216, 1) 49%,
    rgba(199, 202, 200, 1) 100%
  );
}

.header-text {
  background: rgb(245, 158, 11);
  background: linear-gradient(
    110deg,
    rgba(245, 158, 11, 1) 0%,
    rgba(245, 158, 11, 1) 49%,
    rgba(255, 205, 0, 1) 64%,
    rgba(245, 158, 11, 1) 100%
  );
}

.hero-text {
  background: rgb(32, 20, 0);
  background: linear-gradient(
    110deg,
    rgb(32, 0, 0) 0%,
    rgb(175, 135, 2) 64%,
    rgba(32, 20, 0, 1) 100%
  );
}
