::-webkit-scrollbar {
  width: 12px;
  height: 7px;
}

::-webkit-scrollbar-track {
  border: none;
  background-color: #d8e9fd;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(9deg, rgb(140, 163, 245) 0%,  rgb(61, 67, 83) 100%);
  border-radius: 10px;
}
